:root {;
  --ifm-font-family-base: "source-han-sans-sc-medium", ui-sans-serif, system-ui, -apple-system,
  "Segoe UI", "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", consolas;
  --ifm-button-padding-vertical: 0.55rem;
  --doc-sidebar-width: 240px !important;

  --ifm-spacing-horizontal: 2rem;
}
