/* 滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--ifm-color-primary);
}

/* 内容容器 */
.container-wrapper {
  background: var(--content-background-color);
}

/* 博客文章容器 */
.blogPost-container {
  margin-top: 0;
  padding: 1em 2em 0.75em;
  border-radius: 12px;
  background: var(--blog-item-background-color);
  box-shadow: var(--blog-item-shadow);
}

/* col */
.col {
  padding: var(--ifm-spacing-horizontal);
}

/* 代码块 */
code {
  margin: -2px 3px 0 3px;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
}

/* 标题 */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
