html {
  /* 基础字体颜色 */
  color: rgb(40, 61, 87);

  /* 内容背景颜色 */
  --content-background-color: rgb(248, 249, 250);

  /* 博客文章容器 */
  --blog-item-background-color: linear-gradient(180deg, #ffffff, #fcfcfc);
  --blog-item-shadow: 0 20px 20px rgb(0 0 0 / 2.5%), 0 50px 80px rgb(0 0 0 / 5%);

  /* 代码块 */
  .theme-code-block {
    --prism-background-color: rgb(238, 238, 238) !important;
  }

  /* 标题文字颜色 */
  :is(h1, h2, h3, h4, h5, h6) {
    --ifm-heading-color: rgb(10, 39, 77);
  }

  /* 搜索框 */
  --search-local-modal-background: hsl(0deg 0% 100%);
  --search-local-modal-shadow: 0 0 48px hsl(0deg 0% 0% / 12%);

  /* 进度条背景 */
  --progress-bar-background-color: #f3f3f3;

  /* 选中未选中 */
  --btn-selected: var(--ifm-color-primary);
  --btn-unselected: #cecece;

  /* 标签背景 */
  --tag-background: var(--ifm-color-primary);
  --tag-background-dark: #0179fa77;
  --tag-background-light: #1982bb;

  /* 代码块背景 */
  --ifm-code-background: #12affa1a;
  --ifm-code-color: var(--ifm-color-primary);
  --prism-background-color: #f6f8fa;
}

html[data-theme="dark"] {
  /* 基础字体颜色 */
  color: #d3d8de;

  /* 内容背景颜色 */
  --content-background-color: inherit;

  /* 博客文章容器 */
  --blog-item-background-color: linear-gradient(145deg, rgb(4, 26, 49), rgb(0, 0, 0));
  --blog-item-shadow: 0 10px 60px 5px rgb(37, 55, 72), 0 0 10px 0 rgb(37, 55, 72);

  /* 代码块 */
  .theme-code-block {
    --prism-background-color: rgb(42, 42, 42) !important;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    --ifm-heading-color: hsl(214deg 100% 96%);

  }

  /* 搜索框 */
  --search-local-modal-background: var(--ifm-background-color);
  --search-local-modal-shadow: 0 0 48px hsl(0deg 100% 100% / 12%);

  /* 进度条背景 */
  --progress-bar-background-color: #3e3e3e;

}
