html {
  /* 基础字体颜色 */
  color: rgb(40, 61, 87);

  /* 内容背景颜色 */
  --content-background-color: #f8f9fa;

  /* 博客文章容器 */
  --blog-item-background-color: linear-gradient(180deg, #ffffff, #fcfcfc);
  --blog-item-shadow: 0 20px 20px rgb(0 0 0 / 2.5%), 0 50px 80px rgb(0 0 0 / 5%);

  /* 代码块 */
  .theme-code-block {
    --prism-background-color: #eeeeee !important;
  }

  /* 标题文字颜色 */
  :is(h1, h2, h3, h4, h5, h6) {
    --ifm-heading-color: hsl(214deg 78% 17%);
  }

}

html[data-theme="dark"] {
  /* 基础字体颜色 */
  color: rgb(211, 216, 222);

  /* 内容背景颜色 */
  --content-background-color: inherit;

  /* 博客文章容器 */
  --blog-item-background-color: linear-gradient(145deg, #041a31, #000000);
  --blog-item-shadow: 0 10px 60px 5px #253748, 0 0 10px 0 #253748;

  /* 代码块 */
  .theme-code-block {
    --prism-background-color: #2a2a2a !important;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    --ifm-heading-color: hsl(214deg 100% 96%);

  }

}
